<footer id="R-footer" class="default-animation">
  <div class="R-footer-content">
     <p style="font-size: 1rem; color: #aaa; line-height: 0.5; margin-top: 0.3rem;">
      <a href="{{ "about" | relURL }}" style="color: #aaa;">[ 关于本站 ]</a>      <a href="{{ "updates" | relURL }}" style="color: #aaa;">[ 归档记录 ]</a>
    
    <p style="font-size: 0.8rem; color: #aaa; line-height: 0.5; margin-top: 0;">
      ©2026 仅供同好间交流 
    </p>

    <p style="font-size: 0.8rem; color: #aaa; line-height: 0.5; margin-top: 0;">
     游戏内容版权归叠纸所有
    </p>



  </div>
</footer>