{{- $pages := .Page.Pages -}}
{{- if $pages -}}
  <ul class="children-list" data-pagefind-ignore style="list-style: none; padding-left: 0; display: flex; flex-wrap: wrap; gap: 0.8rem;">
  {{- range .Page.Pages }}
    <li data-pagefind-ignore style="margin: 0;">
         <a href="{{ .RelPermalink }}" style="display: inline-block; padding: 0.4rem 0.8rem; background: #fff; color: #333; text-decoration: none; border-radius: 4px; font-size:1.3rem;">{{ .Title | default .Name }}</a></li>
    {{- end -}}
  </ul>
{{- else -}}
  <p>该目录下暂无内容。</p>
{{- end -}}